<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Log In</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
	This content is only shown to authenticated users.

	User ID: <span th:text="${#authentication.principal.id}"/>
	Username: <span th:text="${#authentication.principal.username}"/>
	Email: <span th:text="${#authentication.principal.email}"/>
</div>
	<nav th:replace="partials :: navbar"></nav>
	<h1>Log In</h1>
	<div th:if="${param.error}">
		Invalid Username and Password
	</div>
	<div th:if="${param.logout}">
		You have been logged out.
	</div>
	<form th:action="@{/login}" method="post">
		<div>
			<label for="username">Username</label>
			<input type="text" name="username" id="username"/>
		</div>
		<div>
			<label for="password">Password</label>
			<input type="password" name="password" id="password"/>
		</div>
		<input type="submit" value="Log In"/>
	</form>
</body>
</html>