<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Partials</title>
</head>
<body>
	<nav th:fragment="navbar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/posts">Posts</a></li>
			<li><a href="/posts/create">Create Post</a></li>
			<li sec:authorize="!isAuthenticated()"><a href="/sign-up">Sign Up</a></li>
			<li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
			<li sec:authorize="isAuthenticated()">
				<div>
					User ID: <span th:text="${#authentication.principal.id}"/>
				</div>
				<div>
					Username: <span th:text="${#authentication.principal.username}"/>
				</div>
				<div>
					Email: <span th:text="${#authentication.principal.email}"/>
				</div>
				<form th:action="@{/logout}" th:method="post">
					<button class="btn-link btn" style="margin-top: 8px">Logout</button>
				</form>
			</li>
		</ul>
	</nav>
	<div th:fragment="postForms">
		<h3>Title</h3>
		<input th:field="*{title}">
		<h3>Body</h3>
		<textarea th:field="*{body}" cols="30" rows="10"></textarea>
	</div>
</body>
</html>